<section class="py-3 bg-dark">
    <h1 class="text-center my-3 text-white">Orders Dashboard</h1>
    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <div class="card bg-white text-dark">
            <div class="card-body">
              
              <div *ngIf="!username" class="row my-4" style="position: relative; right: -25px;">
                <h5 class="card-title">Filter Orders</h5>
                <div class="col-md-2">
                  <select class="form-select" [ngModel]="selectedStatus" (ngModelChange)="onSelectStatusChange($event)">
                    <option [ngValue]="undefined">Select Status</option>
                    <option value="created">created</option>
                    <option value="paid">paid</option>
                    <option value="shipped">shipped</option>
                    <option value="delivered">delivered</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <input type="text" class="form-control" placeholder="Customer Email" [(ngModel)]="customerEmail">
                </div>
  
                <div class="col-md-2">
                  <input type="number" class="form-control" id="minPrice" placeholder="Min Payment"
                    [(ngModel)]="minPayment">
                </div>
                <div class="col-md-2">
                  <input type="number" class="form-control" id="maxPrice" placeholder="Max Payment"
                    [(ngModel)]="maxPayment">
                </div>
                <div class="col-md-2">
                  <button class="btn btn btn-outline-dark" (click)="applyFilters()">Apply Filters</button>
                </div>
              </div>
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Status</th>
                    <th *ngIf="!username" scope="col">Customer Email</th>
                    <th scope="col">Payment</th>
                    <th scope="col">Order date</th>
                    <th scope="col">Expected Delivery Date</th>
                    <th scope="col">City</th>
                    <th scope="col">Shipping Service</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="tableRow" *ngFor="let order of orders" (click)="showOrderDetails(order)">
                    <th scope="col">{{order.id}}</th>
                    <th scope="col">{{order.status}}</th>
                    <th *ngIf="!username" scope="col">{{order.customerEmail}}</th>
                    <th scope="col">{{order.amount.toFixed(2)}}$</th>
                    <th style="font-size: 14px;" scope="col">{{order.createdAt | date:'medium'}}</th>
                    <th style="font-size: 14px;" scope="col">{{order.shipment.estimated_delivery_date | date:'medium':
                      'UTC'}}</th>
                    <th scope="col">{{order.shipment.shipping_region}}</th>
                    <th scope="col">{{order.shipment.service_type}}</th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>