<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shop Homepage</title>
    <link rel="icon" type="image/x-icon" href="">
</head>

<body>
    <section class="py-3 bg-dark">
        <h1 class="text-center my-3 text-white"> Saved Products</h1>
        <div class = "bigcard rounded mx-5 my-4 pt-2">
        <div class="container mt-5">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
                <!-- Use Bootstrap grid classes for responsiveness -->
                <div *ngFor="let product of products" class="col mb-4">
                    <div class="card product-card">
                        <img (click)="viewProduct(product)" class="m-2" [src]="product.image" alt="Product Image">
                        <div (click)="viewProduct(product)" class="card-body">
                            <h5 class="product-title">{{product.title}}</h5>
                            <div class="product-rating">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>
                            <p class="product-price">{{product.price}}$</p>
                        </div>
                        <div class="product-actions mb-3">
                            <button (click)="removeFav(product)" class="btn btn btn-outline-dark  bi bi-suit-heart-fill"></button>
                            <button (click)="addToCart(product)" class="btn btn btn-outline-dark mx-2 bi bi-cart"> Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
</body>

</html>
