@media (min-width: 1025px) {
    .h-custom {
    height: 100vh;
    }
    }

.quantitybtn{
    height: 20px;
    width: 25px;
}

.quantityicon{
    position: relative;
    top: -5px;
    right: 1px;
}