.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .uloption {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    z-index: 1;
    background-color: white;
    border-radius: 5px;
  }
  
  .lioption {
    padding: 8px;
    cursor: pointer;
    width: 380px;
    border-radius: 5px;
  }
  
  .lioptionNav {
    padding: 8px;
    cursor: pointer;
    width: 103px;
    border-radius: 5px;
  }

  .lioptionNav:hover {
    background-color: #e0e0e0; /* Change the background color on hover */
  }

  .lioption:hover {
    background-color: #e0e0e0; /* Change the background color on hover */
  }