<!DOCTYPE html>
<html lang="en">
<div class="col-md-12  bg-dark text-white">
<form class="w-25 p-3 text-center"  style="height: 250px;" [formGroup]="form" (submit)="submit()">
  <h1 class="h3 mb-3 mx-auto my-auto fw-normal">Please sign in</h1>

  <input formControlName="username" type="email" class="form-control mx-auto my-auto" placeholder="Email" required>

  <input formControlName="password" type="password" class="form-control mx-auto my-auto" placeholder="Password" required>

  <button class="w-100 btn btn-lg btn-secondary" type="submit">Sign in</button>
</form>
</div>
</html>                                		