<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Info</title>
    <!-- Include Bootstrap CSS -->
</head>
<body class="bg-dark">
    <div class="container pt-4">
        <div class="bg-white rounded pt-3 ">
            <h1 class="text-center px-3">User Information</h1>
            <div class="row px-3">
                <div class="col-md-6">
                    <div class="card bg-dark text-white">
                        <div class="card-body">
                            <h5 class="card-title">Personal Information</h5>
                            <ul class="list-group list-group-flush rounded">
                                <li class="list-group-item"><strong>Name:</strong> {{user.firstName}}</li>
                                <li class="list-group-item"><strong>Surname:</strong> {{user.lastName}}</li>
                                <li class="list-group-item"><strong>Username:</strong> {{user.username}}</li>
                                <li class="list-group-item"><strong>Email:</strong> {{user.email}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card bg-dark text-white">
                        <div class="card-body">
                            <h5 class="card-title">Address Information</h5>
                            <ul class="list-group list-group-flush rounded">
                                <li class="list-group-item"><strong>Address Line:</strong> {{user.address}}</li>
                                <li class="list-group-item"><strong>Postcode:</strong> {{user.postcode}}</li>
                                <li class="list-group-item"><strong>Country:</strong> {{user.country}}</li>
                                <li class="list-group-item"><strong>State/Region:</strong> {{user.region}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row px-3">
                <div class="col-md-6">
                    <div class="card bg-white text-dark">
                        <div class="card-body">
                            <button class="btn btn-danger btn-block bi bi-shield-lock-fill" onclick="window.location.href='/changePassword';" > Change Password</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card bg-white text-dark">
                        <div class="card-body text-right">
                            <button class="btn btn-secondary btn-block bi bi-pencil-fill px-2" onclick="window.location.href='/editProfile';" > Edit Information</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
